<div class="container feature-boxes text-center">
  <header class="section-header">
      <h2>Moje konto</h2>     
  </header>
  
  <div class="container">
      <section class="col-1-3 feature-box">
          <a (click)="showData()">
              <i class="glyphicon glyphicon-edit"></i>
              <h3>Moje dane</h3>
              <p>Wejdź aby podejrzeć lub edytować swoje dane</p>
          </a>
      </section>
      <section class="col-1-3 feature-box" >
          <a (click)="routeToUserCourseList()">
              <i class="glyphicon glyphicon-check"></i>
              <h3>Dostępne kursy</h3>
              <p>Wejdź aby zobaczyć do jakich kursów jesteś zapisany</p>
          </a>
      </section>
      <section class="col-1-3 feature-box">
          <a href="#">
              <i class="glyphicon glyphicon-share"></i>
              <h3>Moje kursy</h3>
              <p>Wejdź aby zobaczyć sekcję kursów które sam stworzyłeś</p>
          </a>
      </section>
  </div>                  
</div>
<div *ngIf="dataVisible">
    <app-user-data></app-user-data>
</div>
