<footer id="footer" class="container page-footer">
    <section class="section-header">
        <h2>Kontakt</h2>
        <p>Aby wysłać nam zapytanie lub wiadomość z chęcią współpracy, prosimy o skorzystanie z poniższego formularza. Odpowiemy możliwie jak najszybciej.</p>
    </section>
    
    <div class="container">
        <section class="col-1-2 contact-form">
            <form action="">
                <div class="form-group form-group-1-2 cf">                          
                   <div>
                       <label for="name">Imię</label>    
                       <input type="text" id="name" placeholder="Twoje imię..." required>
                   </div>
                   
                   <div>
                       <label for="email">Email</label>    
                       <input type="email" id="email" placeholder="Twój email..." required>
                   </div>
                </div>
                
                <div class="form-group">
                    <label for="subject">Temat</label>
                    <select id="subject">
                        <option value="">Pytanie</option>
                        <option value="">Współpraca</option>
                        <option value="">Zgłoś błąd na stronie</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="message">Wiadomość</label>
                    <textarea id="message" placeholder="Wiadomość..." required></textarea>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg" tyle="submit">Wyślij wiadomość</button>
                </div>
            </form>
        </section>
        
        <section class="col-1-2 contact-info">
            <div class="contact-about">
                <h3>Pozostańmy w kontakcie</h3>
                <h5>Możesz również do nas zadzwonić lub spotkać się osobiście</h5>
            </div>
            
            <div class="contact-address">
                <h3>Znajdziesz nas na:</h3>
                <ul class="contact-icons">
                    <li>
                        <i class="ion-location"></i>
                        <span>Adres: Wrocław ul. Kwiaciana 32/23</span>    
                    </li>
                    <li>
                        <i class="ion-email"></i>
                        <span>Email: <a href="mailto:zpiteam@gmail.com">zpiteam@gmail.com</a></span>    
                    </li>
                    <li>
                        <i class="ion-ios-telephone"></i>
                        <span>Telefon: 123-456-789</span>    
                    </li>
                </ul>
            </div>
            
            
        </section>
    </div>
    <section class="copyrights">
        <p>Copyright (c) 2018 - ZPI Team</p>
    </section>
</footer>



