<div class="container">
    <div class="row searchFilter" >
       <div class="col-sm-12" >
        <div class="input-group" >
         <input id="table_filter" type="text" class="form-control" [(ngModel)]="query.text" aria-label="Text input with segmented button dropdown">
         <div class="input-group-btn" >
            <select id="category" [(ngModel)]="idCategory" class="form-control" required #category="ngModel" name="category"> 
                <option *ngFor="let category of categories" [value]="category.idCategory">
                    {{category.categoryName}}
            </select>            
          <button (click)="loadSearchedCourse()" id="searchBtn" type="button" class="btn btn-secondary btn-search" ><span class="glyphicon glyphicon-search" >&nbsp;</span> <span class="label-icon" >Search</span></button>
         </div>
        </div>
       </div>
    </div>
  </div>