<div class="container feature-boxes text-center">
    <header class="section-header">
        <h2>Dowiedz się czegoś o nas</h2>
        <p>Poniżej znajdziesz kilka liczb i faktów dotyczących naszej działalności</p>
    </header>
    
    <div class="container">
        <section class="col-1-3 feature-box">
            <a href="#">
                <i class="glyphicon glyphicon-education"></i>
                <h3>2 tysiące kursów</h3>
                <p>Mamy 2 tysiące kursów z dziedziny nauk ścisłych!</p>
            </a>
        </section>
        <section class="col-1-3 feature-box">
            <a href="#">
                <i class="glyphicon glyphicon-hd-video"></i>
                <h3>25 tysięcy odcinków</h3>
                <p>Posiadamy razem 25 tysiący odcinków do obejrzenia!</p>
            </a>
        </section>
        <section class="col-1-3 feature-box">
            <a href="#">
                <i class="ion-ios-people-outline"></i>
                <h3>100 tysięcy kursantów</h3>
                <p>Mamy już blisko 100 tysięcy zadowolonych kursantów!</p>
            </a>
        </section>
        <section class="col-1-3 feature-box">
            <a href="#">
                <i class="glyphicon glyphicon-time"></i>
                <h3>12 lat razem</h3>
                <p>Od 12 lat dzielimy się z Wami wiedzą i doświadczeniem!</p>
            </a>
        </section>
        <section class="col-1-3 feature-box">
            <a href="#">
                <i class="glyphicon glyphicon-phone"></i>
                <h3>Ucz się gdzie i kiedy chcesz</h3>
                <p>Nie mamy żadnych ograniczeń, ucz się wszędzie gdzie masz dostęp do internetu!</p>
            </a>
        </section>
        <section class="col-1-3 feature-box">
            <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                <h3>Profesjonalni trenerzy</h3>
                <p>Nasze kursy są tworzone przez najlepszych specjalistów z branży!</p>
            </a>
        </section>
    </div>                  
</div>