<div class="container">
  <carousel class="text-center">
    <slide>
      <img class="img-carousel coursor-control.right" src="../../../assets/img/img1.png" alt="First slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        <p>
          <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['registration']">
            Rejestracja
          </a>
        <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['login']">
            Logowanie
        </a>
        </p>
      </div>
    </slide>
    <slide>
      <img class="img-carousel" src="../../../assets/img/img2.png" alt="Second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['registration']">
                Rejestracja
              </a>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['login']">
                Logowanie
            </a>
          </p>
      </div>
    </slide>
    <slide>
      <img class="img-carousel" src="../../../assets/img/img3.png" alt="Third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        <p>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['registration']">
                Rejestracja
              </a>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['login']">
                Logowanie
            </a>
          </p>
      </div>
    </slide>
    <slide>
      <img class="img-carousel" src="../../../assets/img/img4.png" alt="Third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        <p>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['registration']">
                Rejestracja
              </a>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['login']">
                Logowanie
            </a>
          </p>
      </div>
    </slide>
    <slide>
      <img class="img-carousel" src="../../../assets/img/img5.png" alt="Third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        <p>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['registration']">
                Rejestracja
              </a>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['login']">
                Logowanie
            </a>
          </p>
      </div>
    </slide>
    <slide>
      <img class="img-carousel" src="../../../assets/img/img6.png" alt="Third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        <p>
          <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['registration']">
            Rejestracja
          </a>
        <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['login']">
            Logowanie
        </a>
          </p>
      </div>
    </slide>
    <slide>
      <img class="img-carousel" src="../../../assets/img/img7.png" alt="Third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        <p>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['registration']">
                Rejestracja
              </a>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['login']">
                Logowanie
            </a>
          </p>
      </div>
    </slide>
    <slide>
      <img class="img-carousel" src="../../../assets/img/img8.png" alt="Third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        <p>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['registration']">
                Rejestracja
              </a>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['login']">
                Logowanie
            </a>
          </p>
      </div>
    </slide>
    <slide>
      <img class="img-carousel" src="../../../assets/img/img9.png" alt="Third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        <p>
           <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['registration']">
                Rejestracja
              </a>
            <a *ngIf="!isUserLog" class="btn btn-lg btn-yellow" [routerLink]="['login']">
                Logowanie
            </a>
          </p>
      </div>
    </slide>
  </carousel>
  
  <router-outlet name="featureBoxChild"></router-outlet>
  <router-outlet name="footerChild"></router-outlet>
</div>