@import '../../../assets/styles/variables.less';
@import '../../../assets/styles/base.less';
@import '../../../assets/styles/buttons.less';

.no-courses-info {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px;
}

.picture {
    width: 90%;
    height: auto;
}

.th-picture {
    width: 20%;
}

.td-description {
    width: 60%;
}

.th-details {
    width: 20%;
}

.title {
    font-weight: bold;
}

.row-course {
    cursor: pointer;
}